table{
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
    margin: 5px;
}
.thx{
    background-color: aqua;
    padding: 5px;
}
.thnumber{
    background-color: green;
    padding: 5px;

}
.tdnumber{
    background-color: greenyellow;
    padding: 5px;

}